@using Blog.ViewModels.Home
@model Blog.ViewModels.Home.HomeIndexViewModel
@{
    ViewData["Title"] = "Blog PWA - 2020.1";
}

<h1><b>@Model.TituloPagina</b></h1>

<!-- Conteúdo Principal -->
<div class="w3-col l8 s12">
    <!-- Postagens -->
    @foreach (PostagemHomeIndex postagem in @Model.Postagens)
    {
        <div class="w3-card-4 w3-margin w3-white">
            <img src="https://via.placeholder.com/650x100?text=Imagem da Postagem" alt="@postagem.Titulo" style="width:100%">
            <div class="w3-container">
                <h2>
                    <b>@postagem.Titulo</b>
                </h2>
                <h6>
                    @postagem.Categoria <span class="w3-opacity"> || @postagem.Data</span>
                </h6>
            </div>

            <div class="w3-container">
                <p>@postagem.Descricao</p>
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        <p>
                            <button class="w3-button w3-padding-large w3-white w3-border">
                                <b>»»»»</b>
                            </button>
                        </p>
                    </div>
                    <div class="w3-col m4 w3-hide-small">
                        <p>
                            <span class="w3-padding-large w3-right">
                                <b>Comentários </b> <span class="@(postagem.NumeroComentarios.Equals("0") ? "w3-badge" : "w3-tag")">@postagem.NumeroComentarios</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- Conteúdo Lateral -->
<div class="w3-col l4">
    <!-- Categorias -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Categorias</h4>
        </div>
        <div class="w3-container w3-white">
            <p>
                @foreach (CategoriaHomeIndex categoria in @Model.Categorias)
                {
                    <span class="w3-tag w3-light-grey w3-margin-bottom">@categoria.Nome</span>
                }
            </p>
        </div>
    </div>
    
    <!-- Etiquetas -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Etiquetas</h4>
        </div>
        <div class="w3-container w3-white">
            <p>
                @foreach (EtiquetaHomeIndex etiqueta in @Model.Etiquetas)
                {
                    <span class="w3-tag w3-light-grey w3-margin-bottom">@etiqueta.Nome</span>
                }
            </p>
        </div>
    </div>

    <!-- Postagens Populares -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Postagens Populares</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
            @foreach (PostagemPopularHomeIndex postagemPopular in @Model.PostagensPopulares)
            {
                <li class="w3-padding-16">
                    <img src="https://via.placeholder.com/80" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">@postagemPopular.Titulo</span><br>
                    <span>@postagemPopular.Categoria</span> 
                </li>
            }
                
            </ul>
    </div>

    <!-- Sobre Mim -->
    <div class="w3-card w3-margin w3-margin-top">
        <img src="~/media/reny-pretoebranco.jpg" style="width:100%">
        <div class="w3-container w3-white">
            <h4>
                <b>Reny Correia</b>
            </h4>
            <p>Maximum Reny!</p>
        </div>
    </div>
    
</div>